.civ
{
    color:orangered
}
.ho
{
    color: rgb(100, 100, 223);
}
.fem
{
    color: red;
}
.mlle
{
    color: palevioletred;
}
.tr
{
    color: rgb(0, 25, 136);
}
.te
{
    color: green;
}
.ty
{
    color: red;
}
.El
{
    color: rgb(13, 13, 131);
}
input
{
    background-color: rgb(207, 206, 206)
}
.nav
{
    overflow: hidden;
    background-color: rgb(0, 92, 92);
    position: sticky;
    top: 0%;
}
.nav a
{
    float: left;
    display: block;
    color: rgb(7, 7, 7);
    padding: 14px 20px;
    text-decoration: none;
}
.nav a.right
{
    float: right;
}
.nav a:hover
{
    background-color:cyan;
    color: rgb(1, 90, 94);
}
.are
{
    background-color: rgb(151, 153, 147);
}