table
{
	border-collapse: collapse;
}
th,td
{
	border: 1px solid black;
}
*
{
	margin: 100px;
	background-image: url("sup1.jpg");
	background-attachment: fixed;
}	
div
{
	overflow: hidden;
}
