#ami{
    border-collapse: collapse;
}
#nata{ border-collapse: collapse;
}
#dji{border-collapse: collapse;
}
#re{border-collapse: collapse;}
#PAPA{border-collapse: collapse;}
#PETIT{margin-right: 20px;

}