
.tableau3{
	border-collapse: collapse;
	margin-top: 50px
}
.tableau4{
	border-collapse: collapse;
	margin-top: -100px;
	margin-bottom: 150px;
	margin-left: 150px
}
.information{
	border-collapse: collapse;
}



